.general {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.chess_board {
    border: rgb(94, 66, 24) 55px solid;
    background-color: #90f5ad;
}

.step {
    background-color: #cbfcff;
    margin: -2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
}
img {
    width: 40px;
    position: fixed;
}
